<!-- modal -->
<div class="modal"></div>

<!--    modal content     -->
<div class="modal-box">
    <header>
        <h1 class="bio-author">sdlfkj</h2>
        <a href="#" class="close-btn" title="Close">X</a>
    </header>
    
    <div class="modal-content">
        <p class="bio-content">sdfkajsd fldskjfkladsfj sdlakfjdsalkfasjdflkds jklfdsjlkf jldksfjdsal kfdsl.</p>
    </div>

</div>
<!--    ./ modal content     -->

<script type="text/javascript">
window.onload = function () {
    Centro.Modal.show('.modal-box');   
}
    
</script>