<div class="template-content template-blog-detail">
	<!-- left sidebar -->
	<aside>
		<nav class="internal-nav">
			<ul>
				<li><a href="#"><em>&gt;</em> Sibling page 1</a></li>
				<li class="current"><a href="#"><em>&gt;</em> Sibling page 2</a></li>
				<li><a href="#"><em>&gt;</em> Sibling page 3</a></li>
				<li><a href="#"><em>&gt;</em> Sibling page 4</a></li>
				<li><a href="#"><em>&gt;</em> Sibling page 5</a></li>
			</ul>
		</nav>
		<nav id="conect-nav">
			<ul>
				<li class="blog"><a href="#">Sign Up<br />for the Blog<span></span></a></li>
				<li class="newsletter"><a href="#">Sign Up<br />for the<br />Newsletter<span></span></a></li>
				<li class="research"><a href="#">Read<br />the latest<br />research<span></span></a></li>
				<li class="events"><a href="#">Don't miss<br />any webminar<br />or event<span></span></a></li>
				<li class="follow">
					<div>
						Follow Us<br /><br/>
						<a class="twitter sprite-item" href="#">twitter</a>
						<a class="facebook sprite-item" href="#">facebook</a>
						<a class="youtube sprite-item" href="#">youtube</a>
						<a class="linkedin sprite-item" href="#">linkedin</a>
						<a class="google sprite-item" href="#">google</a>
						<a class="rss sprite-item" href="#">rss</a>
					</div>
				</li>
			</ul>
		</nav>
	</aside>

	<div class="layout-standard">
		
		<nav class="breadcrumb-nav">
			<ul>
				<li>
					<a href="">Home</a> &gt;
				</li>
				<li class="breadcrumb-current">
					<a href="">Parent Category</a>
				</li>
			</ul>
		</nav>	


		
		<article class="post-8066 post type-post status-publish format-standard hentry category-future-of-media intro_post" id="post-8066">
			
			<div class="entry-header post-head-area">
				<h1 class="entry-title">Centro Brand Exchange, delivering even more quality in 2013</h1>
				<p class="entry-meta">by <a rel="author" title="Posts by Jennifer Schaen" href="http://www.centro.net/blog/author/jschaen/">Jennifer Schaen</a> on January 28, 2013</p>
			</div>
			<div class="entry-content">
				<div class="entry-image">
						<img alt="thumb-9951" src="http://cambelt.co/410x300/Feat+Image+1?color=006699" style="width:">		
				</div>
				<p>I recently read a thought-provoking article in MediaPost titled “<a target="_blank" href="http://www.mediapost.com/publications/article/187656/top-10-predictions-for-real-time-bidding-in-2013.html#axzz2Ij5j4j7H">Top-10 Predictions for Real-Time Bidding in 2013</a>.”</p>
				<p>Of the ten predictions, six consumed most my thoughts, efforts and conversations in 2012. I agree with them &ndash; at least the ones that directly affect my world, Centro’s Brand Exchange.</p>
				<p><blockquote>Of the ten predictions, six consumed most my thoughts, efforts and conversations in 2012. I agree with them &ndash; at least the ones that directly affect my world, Centro’s Brand Exchange.</blockquote></p>
				<p>More so than anything, all the predictions &ndash; which range from increasing growth in programmatic buying to Facebook lifting brand awareness and a move toward real-time reporting &ndash; help to confirm that we were right to spend the past eighteen months focusing on building a much-needed solution our publisher and advertising partners will benefit from for years to come. <a class="more-link" href="http://www.centro.net/blog/centro-brand-exchange-delivering-even-more-quality-in-2013/">Read More</a></p>
			</div>
			<div class="social-media">Social Media</div>
			<div class="entry-data"><p>Tagged as: <a rel="category tag" title="View all posts in Future of Media" href="http://www.centro.net/blog/category/future-of-media/">Future of Media</a><a href="" class="link-comments">Comments</a></p></div>
		</article>
		<div class="intro_post">
									<div id="respond">
				<h3 id="reply-title"></h3><h4>Leave a Comment</h4> <small><a style="display:none;" href="/blog/centro-brand-exchange-delivering-even-more-quality-in-2013/#respond" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a></small>
				<p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>	
									<form id="commentform" method="post" action="http://www.centro.net/wp-comments-post.php">
																									<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="author" id="author"></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="email" id="email"></p>
<p class="comment-form-url"><label for="url">Website</label><input type="text" size="30" value="" name="url" id="url"></p>
												<p class="comment-form-comment"><label for="comment">Comment</label><textarea aria-required="true" rows="8" cols="45" name="comment" id="comment"></textarea></p>												<p class="form-submit">
							<a class="default-btn small" href="http://stage-centro.zemoga-client.com/contact/#">
					<span>POST COMMENT</span>
					<em class="cta-arrow right icon">»</em>
				</a>
							<input type="hidden" id="comment_post_ID" value="8066" name="comment_post_ID">
<input type="hidden" value="0" id="comment_parent" name="comment_parent">
						</p>
						<p style="display: none;"><input type="hidden" value="58842b4e6e" name="akismet_comment_nonce" id="akismet_comment_nonce"></p>					</form>
							</div><!-- #respond -->
						</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- END home grid content -->	

	</div>
	<!-- ./ left sidebar -->
</div>
<!-- ./ template-xx -->

