@font-face {
  font-family: "Klavika-Reg";
  src: url("fonts/KlavikaWebBasicRegular.eot");
  src: local('☺'), url("css/fonts/KlavikaWebBasicRegular.woff") format("woff");
}

@font-face {
  font-family: "Klavika-Med";
  src: url("fonts/KlavikaWebBasicMedium.eot");
  src: local('☺'), url("css/fonts/KlavikaWebBasicMedium.woff") format("woff");
}

@font-face {
  font-family: "Klavika-Light";
  src: url("fonts/klavika-light-webfont.eot");
  src: local('☺'), url("css/fonts/klavika-light-webfont.woff") format("woff");
}

html .mceContentBody {
	color: #646062;
	font: normal 16px Calibri,'Open Sans', sans-serif;
	padding: 0;
	width: 750px;
	-webkit-font-smoothing: antialiased;
}

	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
	}

	em{
		font-style: italic;
	}

	cite, em, var, address, dfn {
		font-style: normal;
	}

	.sprite-item,
	.icon {
		background: transparent url(images/sprites/ui-sprite.png) no-repeat 0 0;
		display: inline-block;
		text-indent: 150%;
		white-space: nowrap;
		overflow: hidden;
	}

	a {
		color: #eb4298;
		text-decoration: none;
	}

	strong {
		color: #004964;
	}

	nav a {
		text-transform: uppercase;
	}

	fieldset {
		border: none;
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
		color: #004964;

	}

	h1, h1 a,
	h2, h2 a {
		font-family: 'Klavika-Reg', sans-serif, Arial;
		color: #004964;
	}


	h3, h3 a,
	h4, h4 a,
	h5, h5 a,
	h6, h6 a {
		font-family: Calibri,'Open Sans', sans-serif;
		/*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
		font-weight: normal;
		letter-spacing: -1px;
		color: #004964;
	}

	h1, h1 a{
		font-size: 60px;
		margin: 25px 0;
	}
	h2, h2 a{
		font-size: 50px;
		margin: 25px 0;
	}
	h3, h3 a{
		font-size: 40px;
		line-height: 40px;
		margin: 25px 0;
	}
	h4, h4 a{
		font-size: 30px;
		margin: 25px 0;
	}
	h5, h5 a{
		font: 22px;
		margin: 20px 0;
	}
	h6, h6 a{
		font: 18px;
		margin: 20px 0;
	}

	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
		color: #15a5c7;
	}
	
	h1 strong,
	h2 strong,
	h3 strong,
	h4 strong,
	h5 strong,
	h6 strong{
		font-weight: normal;
	}

	hr {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-color: #d8d5d7;
		margin-top: 30px;
	}

	p, pre {
		margin-top: 0;
	}

	li {
		list-style-type: disc;
		margin-left: 20px;
	}

	p a, li a{
		color: #eb4298;
		text-decoration: underline;
	}

.default-btn {

	background: #de0084; /* Old browsers */
	background: -moz-linear-gradient(top, #de0084 0%, #ee008d 50%, #ee3da6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de0084), color-stop(50%,#ee008d), color-stop(100%,#ee3da6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #de0084 0%,#ee008d 50%,#ee3da6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #de0084 0%,#ee008d 50%,#ee3da6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #de0084 0%,#ee008d 50%,#ee3da6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #de0084 0%,#ee008d 50%,#ee3da6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de0084', endColorstr='#ee3da6',GradientType=0 ); /* IE6-9 */

	border: 0;
	color: #fff;
	display: inline-block;
	font-family: 'Klavika-Med', sans-serif, Arial;
	line-height: 1em;
	padding: 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
}

	.default-btn span {
		font-size: 28px;
	}

	p .default-btn {
		color: #fff;
		text-decoration: none;
	}

/* Presentational classes generated by WordPress */
.aligncenter	{ display: block; margin: 0 auto; }
.alignleft		{ float: left; margin: 0 20px 20px 0; }
.alignright		{ float: right; margin: 0 0 20px 20px; }

.slide-light {
	color: #fff;
}

.title-featured,
.title-featured * {
	color: #ec4399;
}